{"requiredCards":[],"requiredCardsInfo":[{"cardId":33,"isBoss":false,"notRequired":false},{"cardId":34,"isBoss":false,"notRequired":false},{"cardId":1288,"isBoss":false,"notRequired":false},{"cardId":131,"isBoss":false,"notRequired":true},{"cardId":13,"isBoss":false,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":77,"isBoss":false,"notRequired":true},{"cardId":23,"isBoss":true,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":45,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}