{"requiredCards":[],"requiredCardsInfo":[{"cardId":1470,"isBoss":false,"notRequired":false},{"cardId":131,"isBoss":false,"notRequired":false},{"cardId":33,"isBoss":false,"notRequired":false},{"cardId":27,"isBoss":false,"notRequired":false},{"cardId":34,"isBoss":false,"notRequired":false},{"cardId":200,"isBoss":false,"notRequired":false},{"cardId":140,"isBoss":false,"notRequired":true},{"cardId":1740,"isBoss":false,"notRequired":true},{"cardId":14,"isBoss":true,"notRequired":true},{"cardId":50,"isBoss":false,"notRequired":true},{"cardId":45,"isBoss":true,"notRequired":true},{"cardId":1288,"isBoss":false,"notRequired":true},{"cardId":92,"isBoss":false,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}