{"requiredCards":[],"requiredCardsInfo":[{"cardId":23,"isBoss":true,"notRequired":false},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":33,"isBoss":false,"notRequired":true},{"cardId":34,"isBoss":false,"notRequired":true},{"cardId":1407,"isBoss":false,"notRequired":true},{"cardId":1423,"isBoss":false,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[]}