{"requiredCards":[],"requiredCardsInfo":[{"cardId":1718,"isBoss":false,"notRequired":false},{"cardId":47,"isBoss":false,"notRequired":false},{"cardId":141,"isBoss":false,"notRequired":false},{"cardId":1407,"isBoss":false,"notRequired":false},{"cardId":1716,"isBoss":false,"notRequired":false},{"cardId":1661,"isBoss":false,"notRequired":false},{"cardId":1690,"isBoss":false,"notRequired":false},{"cardId":1719,"isBoss":false,"notRequired":false},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":1717,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":1524,"isBoss":true,"notRequired":true},{"cardId":15,"isBoss":false,"notRequired":true},{"cardId":89,"isBoss":false,"notRequired":true},{"cardId":29,"isBoss":false,"notRequired":true},{"cardId":1456,"isBoss":false,"notRequired":true},{"cardId":135,"isBoss":false,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}