{"requiredCards":[],"requiredCardsInfo":[{"cardId":30,"isBoss":false,"notRequired":false},{"cardId":46,"isBoss":false,"notRequired":false},{"cardId":52,"isBoss":false,"notRequired":false},{"cardId":55,"isBoss":false,"notRequired":false},{"cardId":193,"isBoss":false,"notRequired":false},{"cardId":203,"isBoss":false,"notRequired":false},{"cardId":1423,"isBoss":true,"notRequired":false},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":38,"isBoss":true,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true}],"requiredSoundBanks":[]}