{"requiredCards":[],"requiredCardsInfo":[{"cardId":1456,"isBoss":false,"notRequired":false},{"cardId":1684,"isBoss":false,"notRequired":false},{"cardId":1719,"isBoss":false,"notRequired":false},{"cardId":1685,"isBoss":false,"notRequired":false},{"cardId":1423,"isBoss":false,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":1720,"isBoss":false,"notRequired":true},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":1525,"isBoss":true,"notRequired":true},{"cardId":1531,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}