{"requiredCards":[],"requiredCardsInfo":[{"cardId":1715,"isBoss":false,"notRequired":false},{"cardId":1688,"isBoss":false,"notRequired":false},{"cardId":15,"isBoss":false,"notRequired":false},{"cardId":206,"isBoss":false,"notRequired":false},{"cardId":1717,"isBoss":false,"notRequired":false},{"cardId":1644,"isBoss":false,"notRequired":false},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":1521,"isBoss":true,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":1718,"isBoss":false,"notRequired":true},{"cardId":1686,"isBoss":false,"notRequired":true},{"cardId":1674,"isBoss":false,"notRequired":true},{"cardId":1531,"isBoss":true,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":49,"isBoss":false,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}