{"requiredCards":[],"requiredCardsInfo":[{"cardId":1716,"isBoss":false,"notRequired":false},{"cardId":1717,"isBoss":false,"notRequired":false},{"cardId":1718,"isBoss":false,"notRequired":false},{"cardId":54,"isBoss":false,"notRequired":false},{"cardId":1690,"isBoss":false,"notRequired":false},{"cardId":1688,"isBoss":false,"notRequired":false},{"cardId":1715,"isBoss":false,"notRequired":false},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":1661,"isBoss":false,"notRequired":true},{"cardId":15,"isBoss":false,"notRequired":true},{"cardId":1532,"isBoss":true,"notRequired":true},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":1531,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}