{"requiredCards":[],"requiredCardsInfo":[{"cardId":134,"isBoss":false,"notRequired":false},{"cardId":34,"isBoss":false,"notRequired":false},{"cardId":33,"isBoss":false,"notRequired":false},{"cardId":23,"isBoss":false,"notRequired":false},{"cardId":1473,"isBoss":true,"notRequired":true},{"cardId":45,"isBoss":true,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}