{"requiredCards":[],"requiredCardsInfo":[{"cardId":1446,"isBoss":false,"notRequired":false},{"cardId":1447,"isBoss":false,"notRequired":false},{"cardId":1448,"isBoss":false,"notRequired":false},{"cardId":34,"isBoss":false,"notRequired":false},{"cardId":33,"isBoss":false,"notRequired":false},{"cardId":1470,"isBoss":false,"notRequired":false},{"cardId":45,"isBoss":true,"notRequired":true},{"cardId":70,"isBoss":true,"notRequired":true},{"cardId":1331,"isBoss":false,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":1288,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}