{"requiredCards":[],"requiredCardsInfo":[{"cardId":1717,"isBoss":false,"notRequired":false},{"cardId":1716,"isBoss":false,"notRequired":false},{"cardId":1690,"isBoss":false,"notRequired":false},{"cardId":1456,"isBoss":false,"notRequired":false},{"cardId":1686,"isBoss":false,"notRequired":false},{"cardId":1407,"isBoss":false,"notRequired":false},{"cardId":1718,"isBoss":false,"notRequired":true},{"cardId":37,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":1426,"isBoss":false,"notRequired":true},{"cardId":47,"isBoss":false,"notRequired":true},{"cardId":91,"isBoss":false,"notRequired":true},{"cardId":1737,"isBoss":true,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":1531,"isBoss":false,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}