{"requiredCards":[],"requiredCardsInfo":[{"cardId":1716,"isBoss":false,"notRequired":false},{"cardId":1717,"isBoss":false,"notRequired":false},{"cardId":1718,"isBoss":false,"notRequired":false},{"cardId":1715,"isBoss":false,"notRequired":false},{"cardId":67,"isBoss":false,"notRequired":true},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":1407,"isBoss":false,"notRequired":true},{"cardId":1845,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}