{"requiredCards":[],"requiredCardsInfo":[{"cardId":1644,"isBoss":false,"notRequired":false},{"cardId":1533,"isBoss":false,"notRequired":false},{"cardId":1705,"isBoss":false,"notRequired":false},{"cardId":1645,"isBoss":false,"notRequired":false},{"cardId":1518,"isBoss":false,"notRequired":true},{"cardId":158,"isBoss":true,"notRequired":true},{"cardId":1684,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":1517,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}