{"requiredCards":[],"requiredCardsInfo":[{"cardId":1407,"isBoss":false,"notRequired":false},{"cardId":1717,"isBoss":false,"notRequired":false},{"cardId":1716,"isBoss":false,"notRequired":false},{"cardId":27,"isBoss":false,"notRequired":false},{"cardId":1644,"isBoss":false,"notRequired":false},{"cardId":38,"isBoss":false,"notRequired":true},{"cardId":140,"isBoss":false,"notRequired":true},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":1718,"isBoss":false,"notRequired":true},{"cardId":1647,"isBoss":false,"notRequired":true},{"cardId":1423,"isBoss":false,"notRequired":true},{"cardId":1531,"isBoss":true,"notRequired":true},{"cardId":1532,"isBoss":true,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":54,"isBoss":false,"notRequired":true},{"cardId":92,"isBoss":false,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}