{"requiredCards":[],"requiredCardsInfo":[{"cardId":1682,"isBoss":false,"notRequired":false},{"cardId":1716,"isBoss":false,"notRequired":false},{"cardId":1717,"isBoss":false,"notRequired":false},{"cardId":1644,"isBoss":false,"notRequired":false},{"cardId":146,"isBoss":false,"notRequired":false},{"cardId":1674,"isBoss":false,"notRequired":false},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":1725,"isBoss":true,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":205,"isBoss":false,"notRequired":true},{"cardId":1434,"isBoss":false,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}