{"requiredCards":[],"requiredCardsInfo":[{"cardId":31,"isBoss":false,"notRequired":false},{"cardId":44,"isBoss":false,"notRequired":false},{"cardId":84,"isBoss":false,"notRequired":false},{"cardId":86,"isBoss":false,"notRequired":false},{"cardId":87,"isBoss":false,"notRequired":false},{"cardId":138,"isBoss":false,"notRequired":false},{"cardId":158,"isBoss":false,"notRequired":false},{"cardId":201,"isBoss":false,"notRequired":false},{"cardId":208,"isBoss":false,"notRequired":false},{"cardId":1504,"isBoss":false,"notRequired":false},{"cardId":1518,"isBoss":true,"notRequired":false},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":1423,"isBoss":false,"notRequired":true},{"cardId":158,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[]}