{"requiredCards":[],"requiredCardsInfo":[{"cardId":31,"isBoss":false,"notRequired":false},{"cardId":1688,"isBoss":false,"notRequired":false},{"cardId":1533,"isBoss":false,"notRequired":false},{"cardId":1644,"isBoss":false,"notRequired":false},{"cardId":1735,"isBoss":false,"notRequired":false},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":1423,"isBoss":false,"notRequired":true},{"cardId":1645,"isBoss":false,"notRequired":true},{"cardId":1515,"isBoss":true,"notRequired":true},{"cardId":1684,"isBoss":false,"notRequired":true},{"cardId":158,"isBoss":true,"notRequired":true},{"cardId":1531,"isBoss":false,"notRequired":true},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":1518,"isBoss":true,"notRequired":true},{"cardId":1686,"isBoss":false,"notRequired":true},{"cardId":1518,"isBoss":false,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}