{"requiredCards":[],"requiredCardsInfo":[{"cardId":1427,"isBoss":false,"notRequired":false},{"cardId":1426,"isBoss":false,"notRequired":false},{"cardId":1423,"isBoss":false,"notRequired":false},{"cardId":1446,"isBoss":false,"notRequired":false},{"cardId":1447,"isBoss":false,"notRequired":false},{"cardId":1448,"isBoss":false,"notRequired":false},{"cardId":23,"isBoss":false,"notRequired":true},{"cardId":57,"isBoss":true,"notRequired":true},{"cardId":38,"isBoss":true,"notRequired":true},{"cardId":1680,"isBoss":false,"notRequired":true},{"cardId":1695,"isBoss":true,"notRequired":true},{"cardId":46,"isBoss":false,"notRequired":true},{"cardId":1686,"isBoss":false,"notRequired":true},{"cardId":1428,"isBoss":false,"notRequired":true},{"cardId":1423,"isBoss":true,"notRequired":true}],"requiredSoundBanks":[{"soundName":"","soundBankName":"SoundBank_Spawners"}]}